.hoarding {
  max-width: 100%;
  overflow-y: auto;
  display: flex;

  img {
    margin: 0;
    max-width: none;
    display: block;
    user-select: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.section {
  display: flex;
}

.hoarding__container {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

.controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.controls__button {
  width: 1.5em;
  font-size: 3em;
  max-width: 20%;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: auto;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 1000px) {
  .section--buffer {
    min-width: 50vw;
  }
}
