$breakpoint-desktop: 1000px;

body {
  background-color: black;
}

.container {
  max-width: 90%;
  width: 960px;
  margin: {
    left: auto;
    right: auto;
  }
}

.columns {
  @media (min-width: $breakpoint-desktop) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10em;
}
